{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.1.1/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1-min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
    <script type="text/javascript">
        $(function(){
            $("#signInBtn").click(function () {
			//collect data
			var loginAct = $.trim($("#email").val());
			var loginPwd = $.trim($("#password").val());
			if (loginAct == "") {
				alert("Email cannot be empty!")
				return
			}
			if (loginPwd == "") {
				alert("Password cannot be empty!")
				return
			}
			// waiting!
			// $("#msg").html("loading....... please wait");
			// send async request
			$.ajax({
				url: '/login/',
				data: {
					"email": loginAct,
					"password": loginPwd
				},
				type: 'POST',
				dataType: 'json',
				success: function (data) {
                    alert(data.success)
					if (data.success == "1") {
						window.location.href = "/studentHub"
					} else {
						// login fauilre
						alert("Incorrected password or email!")
					}
				}
			});

		});

        });
    </script>
</head>
<body>
<section>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <span>Please choose the above method to log in or use your account</span>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Submit</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <span>Please choose the above method to log in or use your account</span>
                <input id="email" type="email" placeholder="Email">
                <input id="password" type="password" placeholder="Password">
                <button id="signInBtn" type="submit">Sign in</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Already Have An Account?</h1>
                    <p>Please use your account to sign in</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Do Not Have Account Yet?</h1>
                    <p>Sign up to join us now and start the journey with us.</p>
                    <button class="ghost" id="signUp">Create Account</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</section>
</body>

</html>